-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-# = f.submit "Sign up"
-# = render "devise/shared/links"



%h1.text-center Sign up
%br/
%br/
%br/
%br/
%body
  .container.h-150
    .d-flex.justify-content-center.h-100
      .user_card
        .d-flex.justify-content-center
          .brand_logo_container
            %img.brand_logo{alt: "Logo", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsZkAkROMdg-a4RigHw3hAo2Veoat8AiNqPA&usqp=CAU"}/
        .d-flex.justify-content-center.form_container
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          %form
            .input-group.mb-3
              .input-group-append
                %span.input-group-text
                  %i.fas.fa-user
              = f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "Enter Email"
              %br/  
            .input-group.mb-2
              .input-group-append
                %span.input-group-text
                  %i.fas.fa-key   
              = f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: "Enter Password"
              %br/
            .input-group.mb-2
              .input-group-append
                %span.input-group-text
                  %i.fas.fa-key
              = f.password_field :password_confirmation, class: "form-control", autocomplete: "current-password", placeholder: "Re-Enter Password"
              %br/
            .d-flex.justify-content-center.mt-3.login_container
              = f.submit "Sign up", class: "btn login_btn"
        .mt-4
          .d-flex.justify-content-center.links
            Already have an account?
            = link_to "Log in", new_session_path(resource_name), class: "ml-2"
          .d-flex.justify-content-center.links
            = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)