.d-flex.flex-row.p-3
  %img.rounded-circle.mr-3{height: "40", src: "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", width: "45"}/
  .w-100
    .d-flex.justify-content-between.align-items-center
      .d-flex.flex-row.align-items-center
        %span.mr-2
          = User.find(comment.user_id).full_name
      .dropdown
        %a{href: "", "data-bs-toggle" => "dropdown"}
          .feed-icon.px-2
            %i.fa.fa-ellipsis-v.text-black-50
        %ul.dropdown-menu
          - if policy(comment).destroy?
            %li
              = link_to 'Destroy', [comment.post, comment], method: :delete, confirm: 'Are you sure?', class: "dropdown-item"
    %p.text-justify.comment-text.mb-0
      = comment.body
    .d-flex.flex-row.user-feed
      %span.wish
        %i.fa.fa-thumbs-up
          = render "posts/upvote_link", post: post
      %span.wish
        %i.fa.fa-thumbs-up
          = render "posts/downvote_link", post: post
