%h1.text-center Sign in
%br/
%br/
%br/
%br/
%body
  .container.h-100
    .d-flex.justify-content-center.h-100
      .user_card
        .d-flex.justify-content-center
          .brand_logo_container
            %img.brand_logo{alt: "Logo", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsZkAkROMdg-a4RigHw3hAo2Veoat8AiNqPA&usqp=CAU"}/
        .d-flex.justify-content-center.form_container
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %form
            .input-group.mb-3
              .input-group-append
                %span.input-group-text
                  %i.fas.fa-user
              = f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email"
              %br/
            .input-group.mb-2
              .input-group-append
                %span.input-group-text
                  %i.fas.fa-key
              = f.password_field :password, class: "form-control", autocomplete: "current-password"
              %br/
            .form-group
              .custom-control.custom-checkbox
                = f.check_box :remember_me, class: "custom-control-input", id: "customControlInline"
                -# %input#customControlInline.custom-control-input{type: "checkbox"}/
                %label.custom-control-label{for: "customControlInline"} Remember me
            .d-flex.justify-content-center.mt-3.login_container
              = f.submit "Log in", class: "btn login_btn"
        .mt-4
          .d-flex.justify-content-center.links
            Don't have an account?
            = link_to "Sign up", new_registration_path(resource_name), class: "ml-2"
          .d-flex.justify-content-center.links
            = link_to "Forgot your password?", new_password_path(resource_name)
          .d-flex.justify-content-center.links
            = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)