%h1 Listing posts

%table.table.table-hover
  %thead
    %tr
      %th User
      %th Content
      %th Photo
      %th Likes
      %th Unlikes
      %th Share
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= User.find(post.user_id).full_name
        %td= post.content
        %td= image_tag post.photo.url(:medium) if post.photo.present?
        %td= render "posts/upvote_link", post: post
        %td= render "posts/downvote_link", post: post
        %td= social_share_button_tag(post.content)
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post) if policy(post).update?
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if policy(post).destroy?
