%p#notice= notice

%p
  %b Content:
  = @post.content

%p
  = image_tag @post.photo.url(:medium) if @post.photo.present?

%h2 Comments
= render @post.comments

%h2 Add a comment:
= render 'comments/form'

= link_to 'Edit', edit_post_path(@post) if policy(@post).update?
\|
= link_to 'Back', posts_path
