- @posts.each do |post|
  .container.mt-4.mb-5
    .d-flex.justify-content-center.row
      .col-md-8
        .feed.p-2
          .bg-white.border.mt-2
            .d-flex.flex-row.justify-content-between.align-items-center.p-2.border-bottom
              .d-flex.flex-row.align-items-center.feed-text.px-2
                %img.rounded-circle{src: "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", width: "45"}/
                .d-flex.flex-column.flex-wrap.ml-2
                  %span.font-weight-bold
                    = User.find(post.user_id).full_name
              .dropdown
                %a{href: "", "data-bs-toggle" => "dropdown"}
                  .feed-icon.px-2
                    %i.fa.fa-ellipsis-v.text-black-50
                %ul.dropdown-menu
                  %li
                    %a.dropdown-item{href: "/posts/#{post.id}"} Show
                  - if policy(post).update?
                    %li
                      %a.dropdown-item{href: "/posts/#{post.id}/edit"} Edit
                  - if policy(post).destroy?
                    %li
                      %a.dropdown-item{href: "/posts/#{post.id}", "data-method" => :delete, data: { confirm: 'Are you sure?' } } Destroy
            .p-2.px-3
              %span
                = post.content
            - if post.photo.present?
              .feed-image.p-2.px-3
                %img.img-fluid.img-responsive
                  = image_tag post.photo.url(:medium)
            .d-flex.justify-content-end.socials.p-2.py-3
              %i.fa.fa-thumbs-up
                = render "posts/upvote_link", post: post
              %i.fa.fa-thumbs-down
                = render "posts/downvote_link", post: post
              %i.fa.fa-comments-o
              = social_share_button_tag(post.content)
